## Eclipse doing something weird?
*/.settings/*.prefs

## Do not commit our TAGS
TAGS

## Emacs things (from 
## https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore).
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive

## Would rather not have the minimal java stuff pollute.
*.class

**/.DS_Store
**/*.iml

