<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension id="LegoAnnotationView"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="LEGO Annotations View Component"/>
      <class value="org.geneontology.annotation.view.LegoAnnotationView"/>
      <headerColor value="@org.protege.individualcolor"/>
      <category value="@org.protege.ontologycategory"/>
   </extension>
   
   <extension id="LegoWorkspaceTab"
              point="org.protege.editor.core.application.WorkspaceTab">
      <label value="LEGO Annotations"/>
      <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
      <index value="X"/>
      <editorKitId value="OWLEditorKit"/>
      <defaultViewConfigFileName value="viewconfig-lego.xml"/>
   </extension>
   
   <extension id="owlviz.prefs"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="LEGO Annotations"/>
        <class value="org.geneontology.annotation.view.LegoAnnotationsPreferencesPane"/>
    </extension>
    
    <extension id="menu.MakeMinimalModel" name="Make minimal model" point="org.protege.editor.core.application.EditorKitMenuAction">
        <class value="org.geneontology.model.MakeMinimalModelMenuAction"/>
        <name value="Make minimal model"/>
        <toolTip value="Makes a minimal model given the currently selected OWLClass."/>
       <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-H"/>
       <editorKitId value="OWLEditorKit"/>
    </extension>
    
</plugin>