Manifest-Version: 1.0
Class-Path: $RUNTIMECLASSPATH$
Main-Class: $MAINCLASS$
Specification-Title: owltools
Sealed: true
Specification-Version: $VERSION$
Specification-Vendor: Gene Ontology Consortium
Implementation-Title: owltools
Implementation-Version: build$BUILDNUM$_$BUILDDATE$
Implementation-Vendor: Berkeley Bioinformatics and Ontologies Project
