<div id="footer">
	<p class="C">
		Copyright &copy; 1999-2011 <a href="http://www.geneontology.org/" title="The Gene Ontology project website">the Gene Ontology</a>
		<br>
		<a href="http://www.geneontology.org/GO.contacts.shtml" title="Contact the GO helpdesk">Helpdesk</a> &bull; <a href="http://www.geneontology.org/GO.cite.shtml" title="How to cite the GO project">Cite</a> &bull; <a href="http://www.geneontology.org/GO.cite.shtml" title="Terms of use for the GO project">Terms of use</a><!-- &bull; <a href="http://www.geneontology.org/GO.site.map.shtml" title="GO site map">Site Map</a>--> &bull; <a href="http://go.berkeleybop.org/news4go/" title="GO News">News</a> &bull; <a href="feed://go.berkeleybop.org/news4go/rss.xml" title="GO News RSS feed">RSS</a>
		<br>
		Member of the <a rel="external" href="http://www.obofoundry.org/" title="Open Biological and Biomedical Ontologies">Open Biological and Biomedical Ontologies</a>
	</p>
</div>
